#SnikersContent{
    // width:100vw;
    max-width:984px;
    // min-height:1500px;
    background:#fff;
    margin: 20px auto 0 auto;
}
.SnikersContent{
    padding: 40px 0;
    display:flex;
    flex-wrap: wrap;
    &.Fortypx{
        padding: 40px 40px 0px 40px;
    }
}
.SnikersTopNav{
    display: flex;

    padding: 0 1rem;
    @media(min-width:505px){
        &{
            justify-content: space-between;
        }
    }
    @media(max-width:500px){
        &{
            flex-wrap: wrap;
            & p{
                min-width:51%;
                margin:0 auto;
            }
        }
    }
    & p{
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
    }
}
.SnikersSearchWrpa{
    color:#000;
    position: relative;
    @media(max-width:500px){
        &{
            width:250px;
            margin: 10% auto 0 auto;
        }
    }
    & input{
        width:250px;
        height:40px;
        border: 1px solid #F3F3F3;
        box-sizing: border-box;
        border-radius: 10px;
        outline: none;
        padding: 0 0 0 40px;
        transition: border 0.15s;
    }
    & label{
        position: absolute;
        top:12px;
        left:14px;
    }
    & span{
        font-size:18px;
    }
    & input:focus{
        border: 4px solid #cfd6ff;
        padding: 0 0 0 37px;
    }
}